article.tweet {
  border: 1px solid rgba(192, 192, 192, 0.76);
  overflow: hidden;
  margin: 1em 2em;
  border-radius: 0.4em;
}

article.tweet header{
  height: 3.5em;
  padding: 0.2em 1.1em;
  background-color: #eee;
  color: #c3c3c3;
}

article.tweet header img {
  width: 3.1em;
  height: 3.1em;
  float: left;
}

article.tweet header .name {
  float: left;
  margin-left: 0.4em;
  font-size: 1.5rem;
  font-weight: bold;
}

article.tweet header .id {
  float: right;
  margin-top: 0.4em;
}

article.tweet section {
  padding: 1.3em 1.1em;
  color: black;
}

article.tweet footer {
  height: 2em;
  border-top: 1px solid rgba(192, 192, 192, 0.76);
  padding: 0 1.1em;
  color: black;
}

article.tweet footer .date {
  float: left;
  font-size: 0.8rem;
  line-height: 2.5em;
}

article.tweet footer .icons {
  float: right;
  line-height: 2em;
  display: none;
}

article.tweet footer .icons img {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  margin-left: 0.2em;
}

.tweet_hover {
  border: 1px solid #244751 !important;
}

.tweet_header_hover {
  color: #244751 !important;
  background-color: #d1cfcf !important;
}

.tweet_footer_hover {
  display: inline-block !important;
}